
/**
 * @file
 * Quickfix stylesheet file.
 *
 * Contains immediate fixes that should be revised later and added in the
 * main.css.
 */

.venue_delete_button {
    -webkit-appearance: none;
    border:none;
    outline: none;
    color:red;
    display:inline-flex;
}

li.item {
    clear:both;
}
